<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{text-align: right;}
    a{text-align: right;}
    p{
      font-size: 200;
    }
    
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #6d04aa;
}
</style>
<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a class="active" href="">About</a></li>
        {%if user.is_authenticated%}
        <li class="a1"><a href="logout">logout</a></li>
        <li class="ml-5"><a href="profile">Profile</a></li>
        {%else%}
        <li class="a1"><a href="login">login</a></li>
        <li class="a1"><a href="register">register</a></li>
        {%endif%}
      </ul>
      

  <!-- <button onclick="typeWriter()">Click me</button> -->

  <p id="demo" style="font: size 100px;"></p>

  <script>
  var i = 0;
  var txt = 'This wasnt meant to be this 😢';
  var speed = 50;

  typewriter = () => {
    // document.getElementById("demo").style.fontSize=medium;
    document.querySelector("#demo").innerHTML=txt.substring(0,i);
    i++;
    if(i<=txt.length){
      setTimeout(typewriter,speed);
    }
  }
    window.addEventListener("load", typewriter);
  </script>
</body>
</html>